@media (max-width: 767px) {
    .about {
      .container-content {
        gap: 42px;

        &-body {
          gap: 22px;

          max-width: 270px;
          .title {
            text-align: center;
            margin-bottom: 3px;
          }
          .text {
            text-align: justify;
          }
        }
        &-img {
          width: 260px;
          height: auto;
        }
      }
    }
}