@media (max-width: 1279px) {
    .banner {
        padding-top: 150px;
        .container-content {
            flex-direction: column;
            gap: 100px;
            &-body {
              align-self: center;
              padding-top: 0;
              .btn {
                align-self: center;
              }
            }
            &-img {
              width: 569px;
              height: auto;
            }
        }
    }
}